<a href="https://colab.research.google.com/github/srgmnagar/space-mission-analysis/blob/main/space_mission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df=pd.read_csv('space_missions.csv', encoding='latin1')

In [10]:
df.head()

,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
0,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",04-10-1957,19:28:00,Sputnik 8K71PS,Sputnik-1,Retired,NaN,Success
1,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",03-11-1957,2:30:00,Sputnik 8K71PS,Sputnik-2,Retired,NaN,Success
2,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",06-12-1957,16:44:00,Vanguard,Vanguard TV3,Retired,NaN,Failure
3,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",01-02-1958,3:48:00,Juno I,Explorer 1,Retired,NaN,Success
4,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",05-02-1958,7:33:00,Vanguard,Vanguard TV3BU,Retired,NaN,Failure

In [11]:
df.tail()

,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
4625,SpaceX,"SLC-4E, Vandenberg SFB, California, USA",22-07-2022,17:39:00,Falcon 9 Block 5,Starlink Group 3-2,Active,67,Success
4626,CASC,"LC-101, Wenchang Satellite Launch Center, China",24-07-2022,6:22:00,Long March 5B,Wentian,Active,NaN,Success
4627,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",24-07-2022,13:38:00,Falcon 9 Block 5,Starlink Group 4-25,Active,67,Success
4628,CAS Space,"Jiuquan Satellite Launch Center, China",27-07-2022,4:12:00,Zhongke-1A,Demo Flight,Active,NaN,Success
4629,CASC,"LC-3, Xichang Satellite Launch Center, China",29-07-2022,13:28:00,Long March 2D,Yaogan 35 Group 03,Active,29.75,Success

In [12]:
df.shape

(4630, 9)

In [13]:
df.size

41670

In [14]:
4630*9

41670

In [15]:
df.dtypes

Company          object
Location         object
Date             object
Time             object
Rocket           object
Mission          object
RocketStatus     object
Price            object
MissionStatus    object
dtype: object

In [16]:
df['Date']=df['Date'].astype('datetime64[ns]')

In [17]:
df['Time']=df['Time'].astype('datetime64[ns]')

In [22]:
df['Price']=df['Price'].replace('[\,]','',regex=True).astype('float')

<>:1: SyntaxWarning: invalid escape sequence '\,'
<>:1: SyntaxWarning: invalid escape sequence '\,'
/tmp/ipython-input-2302379375.py:1: SyntaxWarning: invalid escape sequence '\,'
  df['Price']=df['Price'].replace('[\,]','',regex=True).astype('float')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4630 entries, 0 to 4629
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        4630 non-null   object
 1   Location       4630 non-null   object
 2   Date           4630 non-null   datetime64[ns]
 3   Time           4503 non-null   datetime64[ns]
 4   Rocket         4630 non-null   object
 5   Mission        4630 non-null   object
 6   RocketStatus   4630 non-null   object
 7   Price          1265 non-null   float64
 8   MissionStatus  4630 non-null   object
dtypes: datetime64[ns](2), float64(1), object(6)
memory usage: 325.7+ KB

In [25]:
df.isnull().sum()

Company             0
Location            0
Date                0
Time              127
Rocket              0
Mission             0
RocketStatus        0
Price            3365
MissionStatus       0
dtype: int64